
<!DOCTYPE html>
<html lang="en">
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">    
        <title>Company - Project Management</title>
        <link rel="stylesheet" href="../../../../style/editor.css">
        <link rel="stylesheet" href="../../../../style/elements.css">
        <link rel="stylesheet" href="../../../../style/menu.css">
        <link rel="stylesheet" href="../../../../style/listing_table.css">
        
        <!--Model scripts-->
        <script src="../../../../model/object/user.js"></script>
        <script src="../../../../model/data/users.js"></script>
        <script src="../../model/object/project.js"></script>
        <script src="../../model/data/projects.js"></script>
        <script src="../../model/data/constants.js"></script>
        <script src="../../../../model/object/listing_table.js"></script>

        <!--Controller scripts-->
        <script src="../../../../controller/generator/helpbox.js"></script>
        <script src="../../../../controller/generator/list.js"></script>
        <script src="../../../../controller/generator/listing.js"></script>
        <script src="../../../../controller/generator/navigation.js"></script>
        <script src="../../../../controller/generator/select.js"></script>
        <script src="../../../../controller/validation_check.js"></script>

    </head>

    <body onload="initializeProjectList();">
        <div style="float: right;">
            <textarea id="helpbox"></textarea>
        </div>


        <div class="MenuColumn" id="ProjectListingMenu">
            <div id="ProjectListingNew"  ></div>            
            <div id="ProjectTableFilter" ></div>
        </div>
        
        <main class="Editor">
            <hgroup>
                <h1>Company</h1>
                <h2>Project Management</h2>
                <h3>Project Listing</h3>
            </hgroup>

            <input id="ProjectListingTableSearch" type="search" placeholder="Search Projects...">
            <span id="ProjectListingCount">The are currently no Projects</span>
            <table class="ListingTable" id="ProjectListingTable"></table>  <!--Begin Project Table element-->
    
            <button id="ProjectListingNewRecord">Submit Quickset New Project</button>
        </main>                                                             <!--  createNewRecord();  End main element-->

        <script>
            
            let projectListing = null;

            function initializeProjectList()
            {
                let listingContents = {idPrefix: "Project", focusedID: "ProjectTitleFooter", navigation: projectManagementNavigationObject, editor: "../editor/project.html"};
                let listingTable    = new ListingTable("Project", initializeProjectTable("ProjectListing"), "../viewer/project.html");

                generateListingPage(listingContents, listingTable);
            }
        </script>
    </body>
</html>
